<ion-header>
  <ion-navbar color="secondary">
      <ion-title>Выполнение заказа</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <!-- <ion-grid>
        <ion-row>
            <ion-col>
                <<a ion-button color="primary" (click)="onNavigator()">Launch Navigator</a>
            </ion-col>
        </ion-row>
    </ion-grid> -->

</ion-content>
