page-nayti {
    .find{
        .text{
            font-size: 1.2em;
            padding-left: 2px;
        }
        .findMe{
            // position: absolute;
            right: -5px;
            color: white;
            background-color: map-get($colors, dark);
            height: 30px;
            width: 30px;
                ion-icon{
                    font-size: 1.4em;
                }
        }
        .findMeSpinner{
            font-size: 1em;
            position: absolute;
            right: 70px;
        }
        #otkuda{
            .top{
                background-color: #ffffff;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px; 
            }
            .resetBtn{
                font-size: 0.8em;
            }  
        }
        
        #otkudaB{
            margin-bottom: 15px;
            .bottom{
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px; 
                background-color: #ffffff;
                ion-badge{
                    background-color: #ffffff;
                    color: map-get($appColors, myOrange); 
                    font-size: 1.1em;
                }
                .item-range::after {
                    border-bottom-color: transparent !important;
                }
                .item-input.ng-valid.input-has-value::after{
                    border-bottom-color: transparent;
                }
            }
        }
        .date{
            background-color: #ffffff;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            .dateInput::-moz-placeholder {
                color: red !important;
              }
              
            .dateInput:-ms-input-placeholder {
            color: red !important;
            }
              
            .dateInput::-webkit-input-placeholder {
            text-indent: 0;
            color: red !important;
            }            
        }
        .car{
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            background-color: #ffffff;
        }


    }
}

