page-pogruzka {
    .content{
        background-color: white !important;
         .ranger{
            background-color: #E0E0E0;
            border-radius: 20px;
            .range{
                color: map-get($appColors, myOrange);
            }
         } 
         .idpoint{
            padding-left: 20px;
            font-size: 1.2em;
            font-weight: bold;
         }
         ion-item{
             .aicon{
                 color: map-get($appColors, myOrange);
                 font-size: 1.3em;
             }
             .bicon{
                 color: #019934;
                 font-size: 1.3em;
             }
             .apoint{
                 padding-left: 5px;
                 font-size: 0.9em;
             }
         }
         ion-badge{
             font-size: 1.2em;
             background-color: map-get($appColors, myOrange); 
             margin-top: 5px;			
         }
         ion-item-group{
             .priceInput{
                ion-input{
                    border-bottom: 1px solid map-get($appColors, myOrange); 
                }
             }
             ion-item-divider{
                 font-size: 1.1em;
                //  font-weight: bolder;
                color:#63686E;
                background-color: #E0E0E0;
             }
             .itogo{
                 color: map-get($appColors, myOrange);
                 font-size: 1.2em;
             }
         }
     }
 }