<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Выполнение заказа</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list class="inDocuments">
    <ion-list-header>
        Документы "Загрузки"
        <div class="buttonsDiv">
            <button ion-button color="light" (click)="addPhoto(1)">Загрузить</button>
            <button ion-button color="primary" (click)="sendDocs(true)">Сохранить</button>
        </div>
    </ion-list-header>
    <ion-row text-center>
      <ion-col col-4 *ngFor="let photo of inDocuments">
        <img src="{{photo}}">
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list class="outDocuments">
    <ion-list-header>
        Документы "Выгрузки"
        <div class="buttonsDiv">
            <button ion-button color="light" (click)="addPhoto(2)">Загрузить</button>
            <button ion-button color="primary" (click)="sendDocs(false)">Сохранить</button>
        </div>
    </ion-list-header>
    <ion-row text-center>
      <ion-col col-4 *ngFor="let photo of outDocuments">
        <img src="{{photo}}">
      </ion-col>
    </ion-row>
  </ion-list>


</ion-content>
