page-documents {
    ion-title{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center !important;
        font-size: 1.2em;
    }
    .inDocuments{
        min-height: 42%;
        ion-list-header{
            font-size: 1.2em;
            .buttonsDiv{
                text-align: right;
            }
        }
    }
    .outDocuments{
        min-height: 42%;
        ion-list-header{
            font-size: 1.2em;
            .buttonsDiv{
                text-align: right;
            }
        }
    }
    
}