page-reg-form {
    .xBtn{
        font-size: 0.9em;
    }
    .list{
        ion-item{
            border-radius: 12px;
            background-color: #ffffff;
        }
        .form-group{
            padding-top: 10px;
        }
    }
    ion-thumbnail{
        img{
            width: 100px;
            height: 100px;
        }
    }
}

.cancelIcon{
    .button-inner {   //.icon
        color: #000;
    }
}
.selectionsIcon{
    .button-inner {   //.icon
        color: map-get($appColors, myOrange);
    }
}
