<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Выполнение заказа</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div class="content">
    <ion-item-group>
      <label class="idpoint" *ngIf="pogruzka.number" text-wrap>№ заявки: {{pogruzkiS.selectedPogruzka.number}}</label>
      <ion-item>
          <ion-icon class="aicon" name="md-radio-button-off"></ion-icon>
            <label class="apoint" text-wrap>{{pogruzkiS.selectedPogruzka.from.note}}</label>
            <p text-wrap class="address" *ngIf="pogruzkiS.selectedPogruzka.from.address">{{pogruzkiS.selectedPogruzka.from.address}}</p>
            <p text-wrap class="contact" *ngIf="pogruzkiS.selectedPogruzka.from.contact">{{pogruzkiS.selectedPogruzka.from.contact}}</p>
            <p text-wrap class="phone" *ngIf="pogruzkiS.selectedPogruzka.from.contact_phone">+{{pogruzkiS.selectedPogruzka.from.contact_phone}}</p>
        </ion-item>
        
        <ion-item>
          <ion-icon class="bicon" name="md-radio-button-off"></ion-icon>
            <label class="apoint" text-wrap>{{pogruzkiS.selectedPogruzka.to.note}}</label>
            <p text-wrap class="address" *ngIf="pogruzkiS.selectedPogruzka.to.address">{{pogruzkiS.selectedPogruzka.to.address}}</p>
            <p text-wrap class="contact" *ngIf="pogruzkiS.selectedPogruzka.to.contact">{{pogruzkiS.selectedPogruzka.to.contact}}</p>
            <p text-wrap class="phone" *ngIf="pogruzkiS.selectedPogruzka.to.contact_phone">+{{pogruzkiS.selectedPogruzka.to.contact_phone}}</p>
          </ion-item>
    </ion-item-group>
    
      <ion-item-group>
        <ion-item-divider>Тип транспорта</ion-item-divider>
        <ion-item text-wrap>{{pogruzkiS.selectedPogruzka.type_auto}}</ion-item>
      </ion-item-group>
  
      <ion-item-group *ngIf="pogruzkiS.selectedPogruzka.comment">
          <ion-item-divider>Комментарий</ion-item-divider>
          <ion-item class="comment" text-wrap>{{pogruzkiS.selectedPogruzka.comment}}</ion-item>
      </ion-item-group>

      <ion-item-group class="price">
          <ion-item-divider>
            <label>Ваше цена: {{pogruzkiS.selectedPogruzka.offer_price}} руб.</label>
           <p>Из них предоплата топливом: {{ pogruzkiS.selectedPogruzka.offer_summary_percent}} руб.</p> 
          </ion-item-divider>
      </ion-item-group>

      <ion-item>
          <ion-label>Показать обратные погрузки</ion-label>
          <ion-checkbox [(ngModel)]="pogruzkiS.showBackOrders" color="primatyOwn"></ion-checkbox>
      </ion-item>

      <ion-grid>
          <ion-row>
            <ion-col col-11 offset-1>
              <button ion-button block (click)="navigate()">Построить маршрут</button>
            </ion-col>
          </ion-row>
      </ion-grid>

      <ion-grid class="bottom">
        <ion-row>
          <ion-col col-3 text-center>
            <button ion-button class="call" icon-only clear>
              <ion-icon name="call"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-9 text-left>
              <button *ngIf="pogruzkiS.selectedPogruzka.status.id==17 || pogruzkiS.selectedPogruzka.status.id==2" ion-button block class="actionBtns" color="primary" (click)="stateChange(pogruzkiS.selectedPogruzka.id,'go')">
                Выехал
              </button>

              <button *ngIf="pogruzkiS.selectedPogruzka.status.id==3" [disabled]="!pogruzkiS.isDriverNearPoint" ion-button block class="actionBtns" color="primary" (click)="stateChange(pogruzkiS.selectedPogruzka.id, 'ready-load')">
                Прибыл на загрузку
              </button>

              <button *ngIf="pogruzkiS.selectedPogruzka.status.id==4" ion-button block class="actionBtns" color="primary" (click)="stateChange(pogruzkiS.selectedPogruzka.id, 'load')">
                Загружен
              </button>
              
              <button *ngIf="pogruzkiS.selectedPogruzka.status.id==5" [disabled]="!pogruzkiS.isDriverNearPoint" ion-button block class="actionBtns" color="primary" (click)="stateChange(pogruzkiS.selectedPogruzka.id, 'ready-unload')">
                Прибыл на выгрузку
              </button>

              <button *ngIf="pogruzkiS.selectedPogruzka.status.id==6" ion-button block class="actionBtns" color="primary" (click)="stateChange(pogruzka.id, 'unload')">
                Выгружен
              </button>

              <button *ngIf="pogruzka.status.id==7" ion-button block class="actionBtns" color="primary" (click)="stateChange(pogruzka.id, 'finish')">
                Отправил документы
              </button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
