page-car-selection {
    .content{
		.item{
			font-size: 1.1em;
			span{
				color: #919191;
			}
			background-color: white !important;
			.item-divider{
				color: #323232;
			}
		}
		ion-icon{
			color: #919191;
		}
		background-color: white !important;
	}
}

