<ion-header>
  <ion-navbar color="secondary">
      <ion-title>Текущие погрузки &nbsp;({{myPogruzkiArray?.length}})</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="crd" *ngFor="let p of myPogruzkiArray; let indx=index;">
    <ion-card-content (click)="onMyPogruzka(p, indx)">
      
      <ion-row>
        <ion-col text-left>
          <label>Заказ № {{p.id}}</label>
          <p>
            <ion-icon class="datei" name="md-calendar"></ion-icon>
              <label class="date">{{p.date*1000 | date:'dd.MM.yyyy HH:mm'}}</label>
          </p>
        </ion-col>
        
        <ion-col text-right>
          <ion-badge item-end *ngIf="p.summary">{{p.offer_price}} p.</ion-badge>
          <ion-badge item-end *ngIf="!p.summary">0 p.</ion-badge>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <label *ngIf="p.number" text-wrap>№ заявки: {{p.number}}</label>
        </ion-col>  
      </ion-row><hr>

      <ion-item>
        <ion-icon class="aicon" name="md-radio-button-off"></ion-icon>
        <label class="apoint" text-wrap>{{p.from.note}}</label>
          <p text-wrap class="address" *ngIf="p.from.address && p.status.id!==1">{{p.from.address}}</p>
          <p text-wrap class="contact" *ngIf="p.from.contact && p.status.id!==1">{{p.from.contact}}</p>
          <p text-wrap class="phone" *ngIf="p.from.contact_phone && p.status.id!==1">+{{p.from.contact_phone}}</p>
      </ion-item>

      <ion-item>
        <ion-icon class="bicon" name="md-radio-button-off"></ion-icon>
          <label class="apoint">{{p.to.note}}</label>
          <p text-wrap class="address" *ngIf="p.to.address && p.status.id!==1">{{p.to.address}}</p>
          <p text-wrap class="contact" *ngIf="p.to.contact && p.status.id!==1">{{p.to.contact}}</p>
          <p text-wrap class="phone" *ngIf="p.to.contact_phone && p.status.id!==1">+{{p.to.contact_phone}}</p>
      </ion-item>
      
      <ion-item no-lines class="status">
        <label text-wrap>{{ p.status.text }}</label>
      </ion-item>

      <ion-row text-right *ngIf="p.status.id==1">
        <ion-col col-4 offset-4>
          <a ion-button clear small color="danger" (click)="onDeniel(p.id,indx)">Отказаться</a>
        </ion-col>
        <ion-col col-4>
          <a ion-button clear small color="primatyOwn" (click)="onAccept(p.id, p, indx)">Принять</a>
        </ion-col>
      </ion-row>
      
  </ion-card-content>
  
  </ion-card>

</ion-content>
