
<ion-tabs color="tabcolor" *ngIf="!isUserLogedIn" #rootTab1 selectedIndex="{{selectedIndx}}">
    <ion-tab [root]="search"        tabIcon="search"       tabTitle="Найти"></ion-tab>
    <ion-tab [root]="login"         tabIcon="log-in"       tabTitle="Войти"></ion-tab>
</ion-tabs>

<ion-tabs color="tabcolor" *ngIf="isUserLogedIn" #rootTab selectedIndex="{{selectedIndx}}">
    <ion-tab [root]="profile"       tabIcon="person"       tabTitle="Профиль"></ion-tab>
    <ion-tab [root]="search"        tabIcon="search"       tabTitle="Найти"></ion-tab>
    <ion-tab [root]="myorders"      tabIcon="list"         tabTitle="Мои"></ion-tab>
    <ion-tab [root]="history"       tabIcon="folder-open"  tabTitle="История"></ion-tab>
    <ion-tab [root]="help"          tabIcon="help-circle"  tabTitle="Помощь"></ion-tab>
</ion-tabs>
  