<ion-header>
    <ion-navbar color="secondary">
      <ion-title>Введите адресс</ion-title>
    </ion-navbar>
</ion-header>
  
  
<ion-content class="content">
  
    <ion-searchbar #searchbar type="text"
                              (ionInput)="getItems($event)"
                              debounce=500
                              placeholder="Поиск..."></ion-searchbar>
     

    <div *ngIf="isSearching" padding-left padding-right>
        <ion-item *ngFor="let city of cities" (click)="onSelect(city)">
            {{ city.name }}
        </ion-item>
    </div>

</ion-content>
  