<ion-header>
  <ion-navbar color="secondary">
    <ion-title>История погрузок ({{historyArray?.length}})</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

      <ion-card class="crd" *ngFor="let p of historyArray" (click)="onMoreInfo(p.id)">
        
        <ion-row>
          <ion-col text-left>
            <label>Заказ № {{p.id}}</label>
            <p>
              <ion-icon class="datei" name="md-calendar"></ion-icon>
                <label class="date">{{p.date*1000 | date:'dd.MM.yyyy HH:mm'}}</label>
            </p>
            <label *ngIf="p.number" text-wrap>№ заявки: {{p.number}}</label>
          </ion-col>

          <ion-col text-right>
            <ion-badge item-end>{{ p.summary }} p.</ion-badge>
          </ion-col>
        </ion-row><hr class="child">

        <ion-item>
          <ion-icon class="aicon" name="md-checkbox-outline"></ion-icon>
             <label class="apoint" text-wrap>{{ p.from_note }} <span *ngIf="p.load_address">, {{p.load_address}}</span></label>
             <p text-wrap class="contacts"><span *ngIf="p.load_contact">{{p.load_contact}},</span><span *ngIf="p.load_contact_phone">{{p.load_contact_phone}}</span></p>
        </ion-item>

        <ion-item no-lines>
           <ion-icon class="bicon" name="md-checkbox-outline"></ion-icon>
             <label class="apoint" text-wrap>{{ p.to_note }} <span *ngIf="p.unload_address">, {{p.unload_address}}</span></label>
             <p text-wrap class="contacts"><span *ngIf="p.unload_contact">{{p.unload_contact}},</span><span *ngIf="p.unload_contact_phone">{{p.unload_contact_phone}}</span></p>
        </ion-item>

        <ion-item no-lines class="status">
          <label text-wrap>{{ p.status.text }}</label>
        </ion-item>
          
      </ion-card>

</ion-content>
