<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Мой профиль</ion-title>
    <ion-buttons start>
      <button ion-button clear icon-only class="editBnt" (click)="onEdit()">
        <ion-icon name="create"></ion-icon>
      </button> &nbsp;&nbsp;&nbsp;
      <button ion-button clear icon-only class="editBnt" (click)="onLogout()">
          <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content class="body">

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-list-header>
        Контакты
      </ion-list-header>
      <ion-item>
        <ion-icon name="ios-call-outline" item-start></ion-icon>
          +{{profileS.profileSavedData?.phone}}
      </ion-item>
      <ion-item>
          <ion-icon name="ios-mail-outline" item-start></ion-icon>
          {{profileS.profileSavedData?.email}}
      </ion-item>
    </ion-list>

    <ion-row *ngIf="isCitiesLoading">
      <ion-col text-center>
          <ion-spinner name="circles"></ion-spinner>
      </ion-col>
    </ion-row>

    <p class="cityLabel" *ngIf="profileS.inCities.length > 0">Подписка на города погрузки: </p>
    <ion-chip class="chip" *ngFor="let item of profileS.inCities">
      <ion-label>{{ item?.city }}</ion-label>
      <button ion-button clear large (click)="unsubscribeCity(0, item)">
          <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-chip>


    <p class="cityLabel" *ngIf="profileS.outCities.length > 0">Подписка на города выгрузки: </p>
    <ion-chip class="chip" *ngFor="let item of profileS.outCities">
      <ion-label>{{ item?.city }}</ion-label>
      <button ion-button clear large (click)="unsubscribeCity(1, item)">
          <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-chip>
    <br><br>
    

    <ion-list>
      <ion-list-header>
        Компания
      </ion-list-header>
      <ion-item>
          ИНН
        <p item-end> {{profileS.profileSavedData?.inn}}</p>  
      </ion-item>
      <ion-item>
            Тип
        <p item-end *ngIf="profileS.profileSavedData?.nds==1">НДС</p>  
        <p item-end *ngIf="profileS.profileSavedData?.nds==2">Без НДС</p>  
        </ion-item>
      <ion-item>
          Юр. лица
          <p item-end> {{profileS.profileSavedData?.name}}</p>  
      </ion-item>
      <ion-item *ngIf="profileS.profileSavedData?.code_ati">
        Код АТИ
        <p item-end> {{profileS.profileSavedData?.code_ati}}</p>  
    </ion-item>
    </ion-list>


    <ion-list>
      <ion-list-header>
        Моя машина
      </ion-list-header>
      <ion-item>
          Тип
        <p item-end> {{profileS.profileSavedData?.type_auto?.name}}</p>  
      </ion-item>
      <ion-item *ngIf="profileS.profileSavedData?.vin">
          VIN
        <p item-end> {{profileS.profileSavedData?.vin}}</p>  
      </ion-item>  
    </ion-list>


    <ion-list>
        <ion-list-header>
          Мои документы
        </ion-list-header>

        <ion-grid> 
            <ion-row>
              <ion-col col-4>
                    <ion-thumbnail item-center>
                      <img src="assets/img/default_image.png" *ngIf="!profileS.profileSavedData?.photo_passport">
                      <img src="{{profileS.profileSavedData?.photo_passport}}" *ngIf="profileS.profileSavedData?.photo_passport" (click)="onViewPhoto(profileS.profileSavedData.photo_passport,'Фото паспорта')">
                      </ion-thumbnail>
                    <p text-center>Паспорт</p>
              </ion-col>
              <ion-col col-4>
                      <ion-thumbnail item-center>
                        <img src="assets/img/default_image.png" *ngIf="!profileS.profileSavedData?.photo_vu">
                        <img src="{{ profileS.profileSavedData?.photo_vu }}" *ngIf="profileS.profileSavedData?.photo_vu" (click)="onViewPhoto(profileS.profileSavedData.photo_vu, 'Фото В/У')">
                      </ion-thumbnail>
                    <p text-center>В/У</p>
              </ion-col>
              <ion-col col-4>
                      <ion-thumbnail item-center>
                        <img src="assets/img/default_image.png" *ngIf="!profileS.profileSavedData?.photo_sts">
                        <img src="{{ profileS.profileSavedData?.photo_sts }}" *ngIf="profileS.profileSavedData?.photo_sts" (click)="onViewPhoto(profileS.profileSavedData.photo_sts, 'Фото СТС')">
                      </ion-thumbnail>
                      <p text-center>СТС</p>
              </ion-col>
            </ion-row>
          </ion-grid>    
    </ion-list>

</ion-content>
