page-profile {
    .editBnt{
        font-size: 1.3em;
    }
    .body{
        background-color: #ffffff !important;
        ion-list-header{
            font-size: 1.2em !important;
            margin-bottom: -10px !important;
            color: map-get($appColors, myOrange) !important;
        }
        ion-icon{
            color: map-get($appColors, myOrange);
        }
        ion-thumbnail{
            img{
                width: 100px;
                height: 100px;
            }
        }
        .cityLabel{
            font-size: 1.2em !important;
            color: map-get($appColors, myOrange) !important;
            margin-left: 20px !important;
        }
        .chip{
            margin-left: 20px !important;
            margin-top: 10px !important;
        }
    }
}